$color-1: #0065FC;
$color-2: #DEEBFF;
$color-3: #F2F2F2;




* {
    margin: 0px;
}

body {

    max-width: 1450px;
    margin: auto;
    font-family: 'Raleway', sans-serif;

}

header {

    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 60px;


        .sub-container1 {
            width: 8%;

            img {
                width: 100%;
            }
        }

        .sub-container2 {
            width: 30%;

            ul {
                list-style-type: none;
                display: flex;
            }
        }
    }
}